*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(img/pictures_originals_2019Motocycles___Suzuki_Bikes_Motorcycle_Suzuki_GSX-S1000S_Katana__2019_on_the_background_of_the_wall_135646_.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

}
.header{
    text-align: center;
    color: aliceblue;
    margin-top: 5px;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 1px;
    
}
.header span{
    color:orangered;
}
.container{
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    margin-top: 3%;
    margin-left: 5%;
    padding: 10px;
    box-shadow: 2px;
    border-radius: 10px;

    
}
h2{
    text-align: center;
    color: rgb(253, 107, 3); 
    margin: 10px;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;

}
.one{
    margin: 10px;
    letter-spacing: 1px;
    font-size: 1em;
    padding: 10px;
}
.two{
    margin: 5px;
    padding: 10px;
    letter-spacing: 1px;

}
.three{
    padding: 10px;
    font-size: 1em;
    letter-spacing: 1px;
}
h4{
    padding: 10px;
    letter-spacing: 1.5px;
    text-align: center;


}
a{
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(224, 107, 23);
    color: black;
    border-radius: 8px;
    display: block;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: bold;
}
