*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(Bikes/dirty-metal-texture.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgba(0, 0, 0, 0.142);
    padding: 30px;
    margin-top: 3px;
    

}
h2,ul,li{
    display: inline;
}
a{
    text-decoration: none;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: medium;
    letter-spacing: 1px;
    padding: 3px;
}
.header{
    color: orangered; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 1.5px;
}
.header span{
    color: black;
}
ul{
    margin-left: 41%;
    
}
li{
    margin: 30px;
    cursor: pointer;

}
a:hover{

    background-color: rgb(239, 105, 10); 
    color: black;
    border-radius: 10px;

    
}

.bookform{
    width: 350px;
    margin-top: 3%;
    margin-left: 36%;
    background-color: rgba(0, 0,0,.5);
    color: white;
    padding: 10px 20px 30px;
    border-radius: 10px;

}

.bookform h2{
    color: orangered;
    text-align: center;
    margin-top: 15px;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    display: block;

}
hr{
    margin-top: 15px;
    margin-bottom: 20px;
}
.bookform label{
    display: block;
    padding-top: 7px;
    font-size: 1.3em;
    letter-spacing: 1px;
}
.input input{
    width: 100%;
    font-size: 1.3em;
    padding: 5px 10px;
    border: solid rgb(224, 107, 23); 
    border-radius: 10px;
    box-shadow: 5px;
    box-sizing: border-box;
    border-width: 3px;
    background-color: rgba(0, 0,0,.5);
    color: aliceblue;
}
.btn{
    text-align: center;
    
}
button{
    margin-top: 20px;
    padding: 5px;
    width: 50%;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(224, 107, 23);
    border: 1px solid rgb(224, 107, 23);
    border-radius: 8px;
    cursor: pointer;
}
.input input:focus
{
  outline: none;
}