*{
 padding: 0;
    margin: 0;
}
body{
    background-size: 100% 100%;
   background-image :url(Bikes/dirty-metal-texture.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   

}
nav{
    background-color: rgba(242, 240, 240, 0.333);
    padding: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    

}
h2,ul,li{
    display: inline;
}
li a{
    text-decoration: none;
    color: rgb(18, 18, 17);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 3px;
}
.header{
    color: orangered; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 1.5px;
}
.header span{
    color: black;
}
ul{
    margin-left: 41%;
    
}
li{
    margin: 30px;
    cursor: pointer;

}
a:hover{

    background-color: rgb(239, 105, 10); 
    color: black;
    border-radius: 5px;

    
}
img{
    width: 350px;
    
}
.bike{
    color: aliceblue;
    margin: 10px; 
    text-align: center;
    flex-basis: 25%;
   
}
.bike{
    border-color: aliceblue;
     border-width: 2px;
     border-style: solid;
     width: fit-content;
    
}
.items{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding-top: 10px;
} 
h3{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
p{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.pa{
    padding: 5px;
    margin: 5px;
    background-color: rgb(224, 107, 23);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
