*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/pictures_originals_2019Motocycles___Suzuki_Bikes_Motorcycle_Suzuki_GSX-S1000S_Katana__2019_on_the_background_of_the_wall_135646_.jpg);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 300px;
    margin-top: 8%;
    margin-left: 7%;
    background-color: rgba(0,0,0,.5);
    padding: 15px;
    color: aliceblue;
    border-radius: 10px;

}
.header{
    background-color: rgba(0,0,0,.5);
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: antiquewhite;
    font-size: 1.5em;
    letter-spacing: 1px;
}
.header span{
    color: orangered;
}
h2{
    margin: 10px;
    color: rgb(255, 234, 0);
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;

    
}
h3{
    margin: 10px;
    font-size: 1.2em;
    letter-spacing: 1px;

}
p{
    margin-bottom: 10px;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
}
.anchor a{
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
    
    display: inline-block;
    background-color: tomato;
    color:black;
    padding: 5px;
   font-size: 1em;
    letter-spacing: 1px;
    border-radius: 10px;
    font-weight: bold;
}
.anchor{
    text-align: center;
    margin-top: 10px;
} .two{
    text-decoration: none;
     margin-top: 25px;
    padding: 10px;
    background-color: rgb(224, 107, 23);
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    border-radius: 15px;
}
.anchor  a:hover{
    background-color: tomato;
    color: rgb(3, 3, 3);
    border-radius: 5px;
}
a:hover{
    background-color: rgb(224, 107, 23);
    color: black;
    border-radius: 10px;
}